source https://api.nuget.org/v3/index.json

storage none
framework auto-detect

nuget FSharp.Core
nuget Expecto
nuget FsCheck 2.14.0
nuget Expecto.FsCheck

group Docs
  source https://api.nuget.org/v3/index.json

  storage symlink
  framework auto-detect

  nuget FSharp.Compiler.Service ~> 35.0
  nuget FSharp.Formatting ~> 4.1
  nuget Newtonsoft.Json